.bar{
    background-color: black;
    width: 100%;
    height: fit-content;
    position: fixed;

}

.bar1{
    background-color: rgb(148, 120, 239);
    width:fit-content;
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    border-bottom-right-radius: 100px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


.link1{
    color: white;
    text-decoration: none;
}

.img{
    height: 400px;
    background-image: url('./images/Img.jpeg');
    /* opacity: 0.7; */
    background-size: 100px 100px contain;
    position: relative;
}
.divy{
    background-color: rgb(207, 200, 201);
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
}

.diva{
    width: 100%;
}

.boxes{
    background-color: rgb(207, 200, 201);
    align-items: stretch;
    width: 100%;
    height: fit-content;
}

.links{
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: rgb(207, 200, 201);
    padding-top: 50px;
}

.apt{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    color: rgb(242, 145, 160);
    text-decoration-color: rgb(242, 145, 160);
}

.srch{
    position: relative;
}

.miss{
    width: 20%;
    height: 100px;
    padding-top: 10px;
    background-color: rgb(231, 177, 185);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.reschedule{
    width: 20%;
    height: 100px;
    padding-top: 10px;
    background-color: rgb(239, 239, 221);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.pend{
    width: 20%;
    height: 100px;
    padding-top: 10px;
    background-color: rgb(191, 238, 191);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tabl{
    border: solid white;
    margin-top: 10px;
    border-radius: 10px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    height: 40px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    
}

#passed{
    color: green;
    background-color: rgb(158, 193, 158);
    border-radius: 6px;
    width: 60px;
}

#rescheduled{
    color: yellow;
    background-color: rgb(209, 209, 166);
    border-radius: 6px;
    width: 100px;
}

#missed{
    color: red;
    background-color: rgb(205, 153, 153);
    border-radius: 6px;
    width: 60px;
}

.word{
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    
}

.sorts{
    padding-top: 10px;
    height: fit-content;
}

.dropdown{
    height:fit-content;
    position:relative;
}


  